In [4]:
from google.cloud import language

In [8]:
import pandas as pd

In [5]:
%load_ext autoreload

In [6]:
%autoreload 2

In [15]:
from entity_extract import *

In [224]:
#Whether to send all logs to the cloud instead of a local file.
LOGS_TO_CLOUD = False

In [10]:
df = pd.read_csv('FT_2015_parsed.csv',index_col=0)

df.head(3)

,File,Title,Time,Author,Description,Content,Snippet,Tags,Links
0,ee070568-b74f-11e4-981d-00144feab7de.html,Japan wages: Manufacturing consent - FT.com,"February 18, 2015 7:24 pm",Robin Harding and Kana Inagaki,"Shunto, the annual “spring offensive” by Japan...","©ReutersShunto, the annual “spring offensive” ...","Shunto, the annual “spring offensive” by Japan...",Japan Economy,NaN
1,47bbc62c-950c-11e4-b32c-00144feabdc0.html,Permanent capital is not exactly new in Englan...,"January 6, 2015 10:51 pm",NaN,"Sir, So the latest idea that the US financial ...","Sir, So the latest idea that the US financial ...","Sir, So the latest idea that the US financial ...",NaN,"[['permanent capital', 'http://www.ft.com/cms/..."
2,d97bbc96-08f9-11e5-881f-00144feabdc0.html,"Charles Kennedy, former Liberal Democrat leade...","June 2, 2015 5:56 pm",George Parker,Charles Kennedy was one of the most talented a...,©AFPCharles Kennedy unveils an election campai...,Charles Kennedy was one of the most talented a...,Liberal Democrats UK,"[['©AFP', 'http://www.ft.com/servicestools/ter..."

In [37]:
text = ('Whether I choose him or not for "State"- Rex Tillerson, ' 
'the Chairman & CEO of ExxonMobil, is a world class player and dealmaker. Stay tuned!')

In [51]:
text=df.loc[105,'Content']
text=text+' Deutsche Bank'
text

'©BloombergBT’s £12.5bn acquisition of EE, Britain’s largest mobile network, was a deal forged in Bonn, agreed in Paris and delivered in London — and the results will be felt even more widely as they set the stage for a reshuffle of power in the European telecoms sector.\nThe acquisition of EE from owners Deutsche Telekom and Orange will give BT a significant foothold in the UK mobile market, with about 24m customers who can be sold products such as broadband and television services in bundled offers. \nMoreOn this storyLombard Rexam / GCA and Tesco / BT and EE BT seals £12.5bn deal to buy EE Mergers & acquisitions news headlines EE to kill Orange brand before BT deal Analysts and investors cheer BT’s EE bidOn this topic Sky calls for probe of BT broadband BT says EE deal makes ‘digital champion’ BT seals deal with ‘Mad Men’ network AMC BT under fire over high-speed lines costIN Telecoms Xiaomi targets Brazil for phone launch Orange finds way to quit Israeli partner EU net neutrality to allow fast streaming BT under pressure in broadband raceThe deal will also allow the company to take another step towards moving all of its offerings on to a single, internet-based platform. This means that it will eventually be able to provide services from calls and texts to TV and broadband across the same system.\nThe combination with EE is expected to create savings of as much as £4.6bn after integration costs in areas such as sales, marketing, administration, and cross- and up-selling integrated products combining mobile, fixed-network services and TV.\nAnalysts at Enders still harbour doubts about whether there is appetite among British consumers for “quad play” offers, and the prospect of cross-selling fixed broadband and mobile. But, they add, BT will benefit from merging the largest fixed and mobile operators under a single brand and network.\nAlso important, according to several of those involved in the deal, is the potential for closer co-operation with Deutsche Telekom. The German group wanted to retain a sizeable interest in the UK and will have a 12 per cent stake in the combined group. Tim Höttges, its chief executive, will also take a seat on the BT board. \nBy contrast, it was clear from the start that Orange wanted more cash from the sale.\nSome have described Deutsche Telekom’s investment as an option on BT’s future. They see signals from the German group’s management that the European telecoms sector will eventually consolidate into a few, large groups. Many expect one day to see a merger of the two businesses — albeit after an 18-month period during which Deutsche Telekom will not be able to buy or sell shares.\nAnalysts at Moody’s described this as a “strategic” stake. They said it would make Deutsche Telekom part of “a stronger group in the UK with greater scale, scope and more potential to take advantage of becoming an integrated player in a market in which the rest of the operators will find it more difficult to offer competitive converged offers”. \nAgainst this backdrop, it is not surprising that the German group took the lead initially in negotiations on EE, according to several people familiar with the process.\nLombard: Ride a white swan\nConsumers have yet to embrace quadplay — mobile and fixed telephony, TV and internet from a single provider. But investors are convinced it will be a winner, judging from their enthusiastic response to BT Group’s £12.5bn purchase of mobile operator EE, writes Jonathan Guthrie.\nContinue reading\n\n\n“Deutsche Telekom is not selling EE,” said one person close to the talks. “It is buying into BT, a now much bigger group set for future growth in a converged market.”\nThe German group has made little secret of its view about convergence of fixed and mobile broadband — and the sale of EE to BT is seen by one person close to the group as a way to help create “a British telecoms champion”. \nMeanwhile, Brussels regulators are keen to foster cross-border alliances and mergers in order to create regionally strong groups able to compete with the size of telecoms rivals in the US and Asia, as well as technology groups such as Google. \nStill, there will be no rapid moves, given that there is a three-year standstill agreement on Deutsche Telekom raising its share in BT to more than 15 per cent – a move that Gavin Patterson, chief executive of BT, said would avoid other shareholders becoming “perturbed”. He described the German group as a long-term investor following a deal that strengthened the “vision of what BT looks like in the future”. \nNo decisions were revealed about what will happen to the management of EE, led by chief executive Olaf Swantee, who told the Financial Times that he would continue to oversee the mobile group during integration. He added that achieving regulatory approval would take at least until October and potentially into 2016, and it was too early to talk about the future structure, staffing and pricing strategy. \nLex: BT and EE\nTime to get down to the technical nitty gritty of the deal\nContinue reading\n\n\nMr Patterson said that he expected the merger to be regulated in the UK, and did not foresee any obstacles to the deal.\nThe origins of the acquisition were opportunistic. Executives close to the process said it had become evident last summer that a wholesale relationship allowing BT to use EE’s network was not going to be easy. \nA Deutsche Telekom team led by Mr Höttges talked with Mr Patterson about the potential sale of EE. \nAs talk coalesced around a deal, Orange’s team — headed by European head Gervais Pellissier and finance chief Ramon Fernandez — became involved to work on the terms. \nThe process became more complicated during the autumn when Telefónica joined the bidding. The Spanish group had found out about the talks, prompting it to offer its UK operations as management worried about being left behind in a consolidating market. \nParallel negotiations led by José María Álvarez-Pallete López, Telefónica’s chief operating officer, began. \nPodcast\nBattle heats up for Premier League bid\n\nOn Friday, BT and Sky will start the corporate equivalent of a gunfight as they bid for Premier League football rights, which is expected to generate £3.5bn-£5bn. We look into the possible scenarios for the two companies\n\nBT was already heading towards a deal for EE after a board meeting in early December. César Alierta, Telefónica’s chief executive, flew to London on in a last-ditch attempt to head off the rivals’ deal. But it failed to do much more than cause some antagonism on both sides, according to people familiar with the discussions. \nBoard meetings in Germany and France gave a final blessing, which led BT to sign-off on the deal. The deal was announced on December 15.\nWeeks later, Telefónica would end up doing a deal with Hong Kong’s Hutchison Whampoa, owner of the Three network, to merge their British operations instead.\nNow that due diligence has been completed — and raised no concerns, according to those involved — the groups will be able to concentrate on securing regulatory approval. \nOnce completed, the combined BT-EE will create a stronger British telecoms group able to compete better with global rivals — and with a German shareholder keen to work together while keeping a close eye on the long term. Deutsche Bank'

In [44]:
ii=50

df.loc[50+ii:60+ii,['Title','Description','Tags']]

,Title,Description,Tags
100,Iron ore bounce likely to be shortlived - FT.com,Few in the iron ore industry will remember 201...,Industrial metals
101,A racket doesn’t look after itself — running o...,"Sir, Martin Wolf’s article “Britain’s self-per...",NaN
102,Metro Bank strikes deal to lend through P2P si...,Metro Bank has struck a deal to become the fir...,UK banks
103,More theatre reviews and previews - FT.com,"A View From the Bridge, Wyndham’s Theatre, Lon...",NaN
104,"Guy Laliberté, Cirque du Soleil co-founder - F...",Circus impresarios have a reputation as huckst...,NaN
105,BT-EE deal sets stage for Europe telecoms resh...,"BT’s £12.5bn acquisition of EE, Britain’s larg...",Mergers & Acquisitions
106,Venezuela’s Maduro announces reform push to co...,Venezuela’s socialist president Nicolás Maduro...,Oil
107,Evraz announces $1.3bn loss and share buy-back...,"Shares in Evraz, the steelmaker in which Roman...",Russia Business & Finance
108,Asos appoints Helen Ashton as finance director...,Asos has raided the ranks of a UK debt managem...,United Kingdom
109,"Small-cap Week, February 21 - FT.com",Hard-hit resources sectors provided most of th...,NaN
110,Francis Bacon: at home with history - FT.com,"Bacon sandwiched Rembrandt, Velázquez, Michela...",NaN

'Edwina Dunn and Clive Humby, the couple who helped to create the Tesco Clubcard, are considering involvement in a bid for Dunnhumby, the data analysis company they founded 30 years ago. The husband-and-wife team, who made millions from progressivelyDeutsche Bank'

In [52]:
entities = detect_entities(text)
companies = collect_entities(entities)

In [56]:
entities[0].metadata['mid']

'/m/01g_3'

In [61]:
len([(entity.name, len(entity.mentions)) for entity in entities])

273

In [53]:
companies

[{'exchange': 'New York Stock Exchange', 'name': 'BT Group', 'ticker': 'BT'},
 {'exchange': 'NASDAQ', 'name': 'EE', 'root': 'Orange', 'ticker': 'ORAN'},
 {'exchange': 'New York Stock Exchange',
  'name': 'Deutsche Telekom',
  'root': 'BlackRock',
  'ticker': 'BLK'},
 {'exchange': 'New York Stock Exchange',
  'name': 'Deutsche Telekom',
  'root': 'PNC Financial Services',
  'ticker': 'PNC'},
 {'exchange': 'New York Stock Exchange',
  'name': 'Tesco',
  'root': 'Deutsche Bank',
  'ticker': 'DB'},
 {'exchange': 'New York Stock Exchange',
  'name': "Moody's Corporation",
  'ticker': 'MCO'},
 {'exchange': 'New York Stock Exchange',
  'name': "Moody's Corporation",
  'root': 'Berkshire Hathaway',
  'ticker': 'BRK.A'},
 {'exchange': 'New York Stock Exchange',
  'name': "Moody's Corporation",
  'root': 'Berkshire Hathaway',
  'ticker': 'BRK.B'},
 {'exchange': 'NASDAQ', 'name': 'Google', 'ticker': 'GOOG'},
 {'exchange': 'NASDAQ', 'name': 'Google', 'ticker': 'GOOGL'}]

In [21]:
import json

json.loads(entities[0])

TypeError: the JSON object must be str, bytes or bytearray, not 'Entity'

In [24]:
entities[0].name

'Clive Humby'